@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans bg-neutral-800 text-neutral-100;
  color-scheme: dark;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  @apply container mx-auto min-h-full flex flex-col items-center justify-evenly gap-8 p-8;
}

.card {
  @apply bg-neutral-700 rounded-2xl p-5 max-w-full overflow-x-auto;
}

.styled-input {
  @apply bg-transparent border-2 border-solid border-neutral-800 rounded-lg p-2 w-32;
}

.button {
  @apply bg-green-600 px-4 py-2 rounded-lg disabled:opacity-50;
}

.scoreTable th,.scoreTable td {
  @apply px-2 py-1 text-center
}

.playerName {
  @apply overflow-hidden text-ellipsis max-w-full text-center
}